<app-sidenav>
    <main>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </main>
</app-sidenav>





<!-- Directivlar -->
<!-- <h1 *ngIf="isAdmin; else notImp">Very {{imp |lowercase}} data! Costs</h1>

<ng-container *ngFor="let user of  users | JsonToObject">
    {{user.name}} 
    <br>
    {{user.age}}
</ng-container>


<ng-template #notImp>
    <h1 >not very important</h1>
</ng-template> 

<h2 [ngClass]="isAdmin ? 'red' : 'yellow'">Attr directive</h2>
<h2 [ngStyle]="{background:isAdmin? 'red': 'yellow'}">Attr directive</h2> -->